In [1]:
import sys
import os
import numpy as np
import pandas as pd

repo_path =  r"C:\Users\tebogo.mojela\Documents\GitHub\Value-Frameworks-PDF-Lifting"
microservices_path = r"C:\Users\tebogo.mojela\Documents\GitHub\Value-Frameworks-PDF-Lifting\Microservices"

## Microservice Imports

In [2]:
sys.path.append(os.path.abspath(microservices_path))
import tk_pandas_essentials
tk_pandas_essentials.desc()
tk_pandas_essentials.unwrap_row_items()

This is a description for toolkit script with 28 universal helper functions for data manipulation in pandas, lists and strings.

====
is_null(item)
append_to_df(df, row)
merge(df1, df2, col1, col2, method={‘left’, ‘right’, ‘outer’, ‘inner’, ‘cross’})
show_all_cols()
show_all_rows()
unwrap_row_items()
timestamp()
desc_df(df)
data_scale(dfx)
data_balance_binary(df, col)
count_nans(df, col)
count_dups(df, col)
lists_identical(list1, list2)
mi_classif(X,y)
search_dfa(item, df, col)
search_dfb(item, df, col)
extract_overlap(df, overlap_column, overlap_values)
cut_nulls(df, col_name)
cut_dups(df, list_columns)
stop()
strip_string(item, method={spec, specspace, num, alpha})
update_row(df, index, col, value)
seaborn_dist(df_data, col)
binary_search_array(item, array)
date_extension()
grade_model_clf(y_true, y_pred, identity)
join_df_below(df1, df2)
seaborn_corr_matrix(df_data, annot_size, label_size, outputname)
====

## CSV Exploration

In [3]:
df_pdf_names = pd.read_csv(repo_path+"/Input Data/PDFnames.csv", )
df_amkey_goldstandard = pd.read_csv(repo_path+"/Input Data/AMKEY_GoldenStandard.csv", )
df_amkey_synonyms = pd.read_csv(repo_path+"/Input Data/ActivityMetricsSynonyms.csv", )
df_train = pd.read_csv(repo_path+"/Input Data/Train.csv", )
df_sample_submission = pd.read_csv(repo_path+"/Input Data/SampleSubmission.csv", )

### PDFnames

In [4]:
tk_pandas_essentials.desc_df(df_pdf_names)

Shape: (12, 2)
Columns: Index(['ID', 'File Name'], dtype='object')

            ID                                     File Name
0  Oceana1.pdf   Oceana_Group_Sustainability_Report_2022.pdf
1      Ssw.pdf                                  ssw-IR22.pdf
2    Sasol.pdf  SASOL Sustainability Report 2023 20-09_0.pdf
3   Impala.pdf                               ESG-spreads.pdf
4   Clicks.pdf         Clicks-Sustainability-Report-2022.pdf

### AMKEY_GoldenStandard
- at least one company reported
- unique

In [5]:
tk_pandas_essentials.desc_df(df_amkey_goldstandard)

Shape: (511, 2)
Columns: Index(['AMKEY', 'ActivityMetric'], dtype='object')

,AMKEY,ActivityMetric
0,3,Advisory fees as per income statement
1,6,Air emissions of the following pollutants: (1) CO
2,7,Air emissions of the following pollutants: (2) NOx (excluding N2O)
3,8,Air emissions of the following pollutants: (3) SOx
4,9,Air emissions of the following pollutants: (4) particulate matter (PM10)

In [6]:
len(set(df_amkey_goldstandard["AMKEY"]))

511

### ActivityMetricsSynonyms

In [7]:
tk_pandas_essentials.desc_df(df_amkey_synonyms)

Shape: (365, 4)
Columns: Index(['AMKEY', 'Group', 'ActivityMetric', 'ClientMetric'], dtype='object')

,AMKEY,Group,ActivityMetric,ClientMetric
0,7,Impala,Air emissions of the following pollutants: (2) NOx (excluding N2O),Total indirect Nox
1,7,Sasol,Air emissions of the following pollutants: (2) NOx (excluding N2O),Nitrogen oxides (NOx) (kilotons)
2,8,Sasol,Air emissions of the following pollutants: (3) SOx,Sulphur oxides (SOx ) (kilotons)
3,8,Ssw,Air emissions of the following pollutants: (3) SOx,SO2 emissions
4,8,Impala,Air emissions of the following pollutants: (3) SOx,Total direct SO2 + Total indirect SO2

In [8]:
len(set(df_amkey_synonyms["Group"]))

8

In [9]:
set(df_amkey_synonyms["Group"])

{'Absa', 'Distell', 'Impala', 'Oceana1&2', 'Sasol', 'Ssw', 'Tongaat', 'Uct1&2'}

In [10]:
len(set(df_amkey_synonyms["AMKEY"]))

156

### Train
- no value = not reported

In [11]:
tk_pandas_essentials.desc_df(df_train)

Shape: (5110, 4)
Columns: Index(['ID', '2021_Value', '2020_Value', '2019_Value'], dtype='object')

         ID 2021_Value 2020_Value  2019_Value
0  3_X_Absa        NaN        NaN         NaN
1  6_X_Absa        NaN        NaN         NaN
2  7_X_Absa        NaN        NaN         NaN
3  8_X_Absa        NaN        NaN         NaN
4  9_X_Absa        NaN        NaN         NaN

In [12]:
df_train_real_values = tk_pandas_essentials.cut_nulls(df_train, "2021_Value")

Before: (5110, 4)
After: (461, 4)
Trashed: 4649

In [13]:
tk_pandas_essentials.desc_df(df_train_real_values)

Shape: (461, 4)
Columns: Index(['ID', '2021_Value', '2020_Value', '2019_Value'], dtype='object')

           ID    2021_Value    2020_Value    2019_Value
27  46_X_Absa  4400000000.0  3500000000.0  2.700000e+09
30  49_X_Absa           1.0           2.0  1.000000e+00
33  52_X_Absa          98.0          99.0  9.500000e+01
34  53_X_Absa           3.0           3.0  4.000000e+00
35  54_X_Absa          12.0          13.0  1.200000e+01

### SampleSubmission

In [14]:
tk_pandas_essentials.desc_df(df_sample_submission)

Shape: (5110, 2)
Columns: Index(['ID', '2022_Value'], dtype='object')

                ID  2022_Value
0       100_X_Absa         0.0
1     100_X_Clicks         0.0
2    100_X_Distell         0.0
3     100_X_Impala         0.0
4  100_X_Oceana1&2         0.0

# Testing & Debugging