In [1]:
import sys
import os
import numpy as np
import pandas as pd

repo_path =  r"C:\Users\tebogo.mojela\Documents\GitHub\Value-Frameworks-PDF-Lifting"
microservices_path = r"C:\Users\tebogo.mojela\Documents\GitHub\Value-Frameworks-PDF-Lifting\Microservices"

## Microservice Imports

In [2]:
sys.path.append(os.path.abspath(microservices_path))
import tk_pandas_essentials
import tk_pdf_parser
#tk_pandas_essentials.desc()
tk_pandas_essentials.unwrap_row_items()

## CSV Exploration

In [3]:
df_pdf_names = pd.read_csv(repo_path+"/Input Data/PDFnames.csv", )
df_amkey_goldstandard = pd.read_csv(repo_path+"/Input Data/AMKEY_GoldenStandard.csv", )
df_amkey_synonyms = pd.read_csv(repo_path+"/Input Data/ActivityMetricsSynonyms.csv", )
df_train = pd.read_csv(repo_path+"/Input Data/Train.csv", )
df_sample_submission = pd.read_csv(repo_path+"/Input Data/SampleSubmission.csv", )

### PDFnames

In [4]:
tk_pandas_essentials.desc_df(df_pdf_names)

Shape: (12, 2)
Columns: Index(['ID', 'File Name'], dtype='object')

            ID                                     File Name
0  Oceana1.pdf   Oceana_Group_Sustainability_Report_2022.pdf
1      Ssw.pdf                                  ssw-IR22.pdf
2    Sasol.pdf  SASOL Sustainability Report 2023 20-09_0.pdf
3   Impala.pdf                               ESG-spreads.pdf
4   Clicks.pdf         Clicks-Sustainability-Report-2022.pdf

### AMKEY_GoldenStandard
- at least one company reported
- unique

In [5]:
tk_pandas_essentials.desc_df(df_amkey_goldstandard)

Shape: (511, 2)
Columns: Index(['AMKEY', 'ActivityMetric'], dtype='object')

,AMKEY,ActivityMetric
0,3,Advisory fees as per income statement
1,6,Air emissions of the following pollutants: (1) CO
2,7,Air emissions of the following pollutants: (2) NOx (excluding N2O)
3,8,Air emissions of the following pollutants: (3) SOx
4,9,Air emissions of the following pollutants: (4) particulate matter (PM10)

In [6]:
len(set(df_amkey_goldstandard["AMKEY"]))

511

### ActivityMetricsSynonyms

In [7]:
tk_pandas_essentials.desc_df(df_amkey_synonyms)

Shape: (365, 4)
Columns: Index(['AMKEY', 'Group', 'ActivityMetric', 'ClientMetric'], dtype='object')

,AMKEY,Group,ActivityMetric,ClientMetric
0,7,Impala,Air emissions of the following pollutants: (2) NOx (excluding N2O),Total indirect Nox
1,7,Sasol,Air emissions of the following pollutants: (2) NOx (excluding N2O),Nitrogen oxides (NOx) (kilotons)
2,8,Sasol,Air emissions of the following pollutants: (3) SOx,Sulphur oxides (SOx ) (kilotons)
3,8,Ssw,Air emissions of the following pollutants: (3) SOx,SO2 emissions
4,8,Impala,Air emissions of the following pollutants: (3) SOx,Total direct SO2 + Total indirect SO2

In [8]:
len(set(df_amkey_synonyms["Group"]))

8

In [9]:
set(df_amkey_synonyms["Group"])

{'Absa', 'Distell', 'Impala', 'Oceana1&2', 'Sasol', 'Ssw', 'Tongaat', 'Uct1&2'}

In [10]:
len(set(df_amkey_synonyms["AMKEY"]))

156

### Train
- no value = not reported
- AMKEY_X_Company = ID

In [11]:
tk_pandas_essentials.desc_df(df_train)

Shape: (5110, 4)
Columns: Index(['ID', '2021_Value', '2020_Value', '2019_Value'], dtype='object')

         ID 2021_Value 2020_Value  2019_Value
0  3_X_Absa        NaN        NaN         NaN
1  6_X_Absa        NaN        NaN         NaN
2  7_X_Absa        NaN        NaN         NaN
3  8_X_Absa        NaN        NaN         NaN
4  9_X_Absa        NaN        NaN         NaN

In [12]:
df_train_real_values = tk_pandas_essentials.cut_nulls(df_train, "2021_Value")

Before: (5110, 4)
After: (461, 4)
Trashed: 4649

In [13]:
tk_pandas_essentials.desc_df(df_train_real_values)

Shape: (461, 4)
Columns: Index(['ID', '2021_Value', '2020_Value', '2019_Value'], dtype='object')

           ID    2021_Value    2020_Value    2019_Value
27  46_X_Absa  4400000000.0  3500000000.0  2.700000e+09
30  49_X_Absa           1.0           2.0  1.000000e+00
33  52_X_Absa          98.0          99.0  9.500000e+01
34  53_X_Absa           3.0           3.0  4.000000e+00
35  54_X_Absa          12.0          13.0  1.200000e+01

### SampleSubmission

In [14]:
tk_pandas_essentials.desc_df(df_sample_submission)

Shape: (5110, 2)
Columns: Index(['ID', '2022_Value'], dtype='object')

                ID  2022_Value
0       100_X_Absa         0.0
1     100_X_Clicks         0.0
2    100_X_Distell         0.0
3     100_X_Impala         0.0
4  100_X_Oceana1&2         0.0

# Testing & Debugging

In [15]:
pdf_path = repo_path+"/Input Data/Data Sources/Structured data/2022-Absa-Group-limited-Environmental-Social-and-Governance-Data-sheet.pdf"
text_content, tables = tk_pdf_parser.extract_text_and_tables(pdf_path)

In [16]:
text_content_lw = text_content.lower()

In [17]:
present_keys = []
for index, row in df_amkey_synonyms["ActivityMetric"].iterrows():
    if row["ActivityMetric"].lower() in text_content_lw:
        key = df_amkey_synonyms["AMKEY"].iloc[index]
        present_keys.append(row["ActivityMetric"].lower()+"_"+str(key))
        
for index, row in df_amkey_synonyms["ClientMetric"].iterrows():
    if row["ClientMetric"].lower() in text_content_lw:
        key = df_amkey_synonyms["AMKEY"].iloc[index]
        present_keys.append(row["ClientMetric"].lower()+"_"+str(key))

In [ ]:
present_keys

In [18]:
df_amkey_synonyms

,AMKEY,Group,ActivityMetric,ClientMetric
0,7,Impala,Air emissions of the following pollutants: (2) NOx (excluding N2O),Total indirect Nox
1,7,Sasol,Air emissions of the following pollutants: (2) NOx (excluding N2O),Nitrogen oxides (NOx) (kilotons)
2,8,Sasol,Air emissions of the following pollutants: (3) SOx,Sulphur oxides (SOx ) (kilotons)
3,8,Ssw,Air emissions of the following pollutants: (3) SOx,SO2 emissions
4,8,Impala,Air emissions of the following pollutants: (3) SOx,Total direct SO2 + Total indirect SO2
...,...,...,...,...
360,1041,Distell,Percentage of non-executive board members,Percentage of board members who are deemed non-executive
361,1042,Tongaat,Percentage of independent board members,Percentage of independent Board members
362,1042,Ssw,Percentage of independent board members,"Independent, non-executive directors"
363,1042,Distell,Percentage of independent board members,Percentage of board members who are deemed 'independent'
364,1070,Tongaat,Fines associated with environmental incidents,Environmental fines and/or non-compliances

In [42]:
present_key_binds = []
for key_string in present_keys:
    # print("Key_String: "+key_string)
    act_metric = tk_pandas_essentials.search_dfa(key_string, df_amkey_synonyms, "ActivityMetric")
    client_metric = tk_pandas_essentials.search_dfa(key_string, df_amkey_synonyms, "ClientMetric")
    alias_pair = {}
    
    tk_pandas_essentials.desc_df(act_metric)
    print("\n")
    tk_pandas_essentials.desc_df(client_metric)
    
    tk_pandas_essentials.stop()
    if (tk_pandas_essentials.is_null(act_metric) == True and tk_pandas_essentials.is_null(client_metric) == False):
        alias_pair = {
            "AM": client_metric["ActivityMetric"].iloc[0],
            "CM": key_string
            }
    elif (tk_pandas_essentials.is_null(act_metric) == False and tk_pandas_essentials.is_null(client_metric) == True):
        alias_pair = {
            "AM": key_string,
            "CM": act_metric["ClientMetric"].iloc[0]
            }
        
    elif (tk_pandas_essentials.is_null(act_metric) == False and tk_pandas_essentials.is_null(client_metric) == False):
        alias_pair = {
            "AM": act_metric["ActivityMetric"].iloc[0],
            "CM": client_metric["ClientMetric"].iloc[0]
            }
    present_key_binds.append(alias_pair)

Shape: (4, 4)
Columns: Index(['AMKEY', 'Group', 'ActivityMetric', 'ClientMetric'], dtype='object')

,AMKEY,Group,ActivityMetric,ClientMetric
165,385,Sasol,Revenue,Turnover
166,385,Ssw,Revenue,Revenue
167,385,Uct1&2,Revenue,Recurrent revenue
168,385,Distell,Revenue,Rand value of total revenue generated in South Africa

Shape: (1, 4)
Columns: Index(['AMKEY', 'Group', 'ActivityMetric', 'ClientMetric'], dtype='object')

     AMKEY Group ActivityMetric ClientMetric
166    385   Ssw        Revenue      Revenue

Exception: Message: Code has been stopped on purpose via tk_pandas_essentials.

In [39]:
present_key_binds

[{'AM': 165    Revenue
  166    Revenue
  167    Revenue
  168    Revenue
  Name: ActivityMetric, dtype: object,
  'CM': 166    Revenue
  Name: ClientMetric, dtype: object},
 {'AM': 165    Revenue
  166    Revenue
  167    Revenue
  168    Revenue
  Name: ActivityMetric, dtype: object,
  'CM': 166    Revenue
  Name: ClientMetric, dtype: object},
 {'AM': 165    Revenue
  166    Revenue
  167    Revenue
  168    Revenue
  Name: ActivityMetric, dtype: object,
  'CM': 166    Revenue
  Name: ClientMetric, dtype: object},
 {'AM': 165    Revenue
  166    Revenue
  167    Revenue
  168    Revenue
  Name: ActivityMetric, dtype: object,
  'CM': 166    Revenue
  Name: ClientMetric, dtype: object},
 {'AM': 244    Total number of employees
  245    Total number of employees
  246    Total number of employees
  247    Total number of employees
  248    Total number of employees
  249    Total number of employees
  250    Total number of employees
  251    Total number of employees
  Name: ActivityMetric, dtype: object,
  'CM': 247    Total number of employees
  248    Total number of employees
  Name: ClientMetric, dtype: object},
 {'AM': 244    Total number of employees
  245    Total number of employees
  246    Total number of employees
  247    Total number of employees
  248    Total number of employees
  249    Total number of employees
  250    Total number of employees
  251    Total number of employees
  Name: ActivityMetric, dtype: object,
  'CM': 247    Total number of employees
  248    Total number of employees
  Name: ClientMetric, dtype: object},
 {'AM': 244    Total number of employees
  245    Total number of employees
  246    Total number of employees
  247    Total number of employees
  248    Total number of employees
  249    Total number of employees
  250    Total number of employees
  251    Total number of employees
  Name: ActivityMetric, dtype: object,
  'CM': 247    Total number of employees
  248    Total number of employees
  Name: ClientMetric, dtype: object},
 {'AM': 244    Total number of employees
  245    Total number of employees
  246    Total number of employees
  247    Total number of employees
  248    Total number of employees
  249    Total number of employees
  250    Total number of employees
  251    Total number of employees
  Name: ActivityMetric, dtype: object,
  'CM': 247    Total number of employees
  248    Total number of employees
  Name: ClientMetric, dtype: object},
 {'AM': 244    Total number of employees
  245    Total number of employees
  246    Total number of employees
  247    Total number of employees
  248    Total number of employees
  249    Total number of employees
  250    Total number of employees
  251    Total number of employees
  Name: ActivityMetric, dtype: object,
  'CM': 247    Total number of employees
  248    Total number of employees
  Name: ClientMetric, dtype: object},
 {'AM': 244    Total number of employees
  245    Total number of employees
  246    Total number of employees
  247    Total number of employees
  248    Total number of employees
  249    Total number of employees
  250    Total number of employees
  251    Total number of employees
  Name: ActivityMetric, dtype: object,
  'CM': 247    Total number of employees
  248    Total number of employees
  Name: ClientMetric, dtype: object},
 {'AM': 244    Total number of employees
  245    Total number of employees
  246    Total number of employees
  247    Total number of employees
  248    Total number of employees
  249    Total number of employees
  250    Total number of employees
  251    Total number of employees
  Name: ActivityMetric, dtype: object,
  'CM': 247    Total number of employees
  248    Total number of employees
  Name: ClientMetric, dtype: object},
 {'AM': 244    Total number of employees
  245    Total number of employees
  246    Total number of employees
  247    Total number of employees
  248    Total number of employees
  249    Total number of employees
  250    Total number of employees
  251    Total number of employees
  Name: ActivityMetric, dtype: object,
  'CM': 247    Total number of employees
  248    Total number of employees
  Name: ClientMetric, dtype: object},
 {'AM': 266    Total procurement spend
  267    Total procurement spend
  Name: ActivityMetric, dtype: object,
  'CM': Series([], Name: ClientMetric, dtype: object)},
 {'AM': 266    Total procurement spend
  267    Total procurement spend
  Name: ActivityMetric, dtype: object,
  'CM': Series([], Name: ClientMetric, dtype: object)},
 {'AM': 308    Number of Board Members
  309    Number of Board Members
  310    Number of Board Members
  Name: ActivityMetric, dtype: object,
  'CM': 308    Number of board members
  309    Number of board members
  Name: ClientMetric, dtype: object},
 {'AM': 308    Number of Board Members
  309    Number of Board Members
  310    Number of Board Members
  Name: ActivityMetric, dtype: object,
  'CM': 308    Number of board members
  309    Number of board members
  Name: ClientMetric, dtype: object},
 {'AM': 308    Number of Board Members
  309    Number of Board Members
  310    Number of Board Members
  Name: ActivityMetric, dtype: object,
  'CM': 308    Number of board members
  309    Number of board members
  Name: ClientMetric, dtype: object},
 {'AM': 358    Lost days
  Name: ActivityMetric, dtype: object,
  'CM': Series([], Name: ClientMetric, dtype: object)},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 18    B-BBEE level
  20    B-BBEE Level
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 18    B-BBEE level
  20    B-BBEE Level
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 21    B-BBEE level (South Africa)
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 23    Board meeting attendance (%)
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 33    Staff costs and benefits (Rbn)
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 47    Scope 1
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 56    Scope 2
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 57    Scope 3
  58    Scope 3
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 57    Scope 3
  58    Scope 3
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 63    Intensity ratio
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 82    Non-renewable – Gas (kWh)
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 87    Waste to landfill (tonnes)
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 112    Fatalities
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 113    Female
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 115    Women board members
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 122    Lost-time injuries
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 124    Work-related injuries
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 149    Local procurement as a percentage of total (South Africa) (%)
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 159    Total procurement spend on >30% black-owned companies (Rbn)
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 165    Turnover
  Name: ClientMetric, dtype: object},
 {'AM': 165    Revenue
  166    Revenue
  167    Revenue
  168    Revenue
  Name: ActivityMetric, dtype: object,
  'CM': 166    Revenue
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 190    Training spend (Rm)
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 198    Total energy use (kWh)
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 216    Water consumption (kilolitres)
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 220    Non-renewable – Diesel (kWh)
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 224    Total hours for programmes accessed (m)
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 228    Total weighted spend with B-BBEE-accredited suppliers (Rbn)
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 231    Non-renewable – Electricity (kWh)
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 236    Employee bursaries (number of bursaries)
  Name: ClientMetric, dtype: object},
 {'AM': 244    Total number of employees
  245    Total number of employees
  246    Total number of employees
  247    Total number of employees
  248    Total number of employees
  249    Total number of employees
  250    Total number of employees
  251    Total number of employees
  Name: ActivityMetric, dtype: object,
  'CM': 247    Total number of employees
  248    Total number of employees
  Name: ClientMetric, dtype: object},
 {'AM': 244    Total number of employees
  245    Total number of employees
  246    Total number of employees
  247    Total number of employees
  248    Total number of employees
  249    Total number of employees
  250    Total number of employees
  251    Total number of employees
  Name: ActivityMetric, dtype: object,
  'CM': 247    Total number of employees
  248    Total number of employees
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 250    Permanent employees
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 251    Staff
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 252    employee
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 267    Total procurement spend in South Africa (Rbn)
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 291    Employee turnover
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 294    Total waste (tonnes)
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 297    Recycled waste (tonnes)
  Name: ClientMetric, dtype: object},
 {'AM': 308    Number of Board Members
  309    Number of Board Members
  310    Number of Board Members
  Name: ActivityMetric, dtype: object,
  'CM': 308    Number of board members
  309    Number of board members
  Name: ClientMetric, dtype: object},
 {'AM': 308    Number of Board Members
  309    Number of Board Members
  310    Number of Board Members
  Name: ActivityMetric, dtype: object,
  'CM': 308    Number of board members
  309    Number of board members
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 310    Board members
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 311    Average hours training per person
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 318    Executive directors
  320    Executive directors
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 318    Executive directors
  320    Executive directors
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 321    Independent non-executive directors
  322    Independent non-executive directors
  325    Independent non-executive directors
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 321    Independent non-executive directors
  322    Independent non-executive directors
  325    Independent non-executive directors
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 321    Independent non-executive directors
  322    Independent non-executive directors
  325    Independent non-executive directors
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 327    Non-executive directors
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 331    Average tenure
  Name: ClientMetric, dtype: object},
 {'AM': Series([], Name: ActivityMetric, dtype: object),
  'CM': 335    Employees completing the Absa Way Code of Ethics training (%)
  Name: ClientMetric, dtype: object}]

In [21]:
key = ""
for index,row in df_train["ID", "2021_Value"].iterrows():
    key = tk_pandas_essentials.search_dfa(item, df_amkey_goldstandard, "ActivityMetric")
    # if key.lower() in text_content_lw:
    #     present_keys.append(key.lower())

KeyError: ('ID', '2021_Value')

In [ ]:
df_train

In [ ]:
df_amkey_goldstandard

In [ ]:
set(items)

In [ ]:
len(set(df_sample_submission["ID"]))